body {
    font-family: Arial, sans-serif;
    background-color: #bfd6df;
    margin: 0;
    padding: 20;
  }
  
  #loginForm {
    background-color: #93c8e0fa;
  border: 1px solid #888;
  width: 300px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  position: absolute;
  top: 50%; /* Position vertically at 50% from the top */
  left: 50%; /* Position horizontally at 50% from the left */
  transform: translate(-50%, -50%); /* Center the form using transform */
  padding: 20px;
  border-radius: 10px;
}

a:link {color:#000000;} 
a:visited {color:#ff0000;}
a:hover {color:#003cff;}
#loginForgetPassword{
float: right;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    margin-bottom: 15px;
    border-radius: 5px;

    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }